In [2]:
import pandas as pd

In [4]:
# Read CSV into Pandas DataFrame
file_path = 'Starting_Data/Project4_StartingData_noMeta.csv'
df = pd.read_csv(file_path)
df

,occurrence_no,record_type,reid_no,flags,collection_no,identified_name,identified_rank,identified_no,difference,accepted_name,...,stratgroup,member,lithdescript,lithology1,lithification1,minor_lithology1,lithology2,lithification2,minor_lithology2,environment
0,139242,occ,24752.0,NaN,11890,Gorgosaurus n. sp. sternbergi,species,63900,subjective synonym of,Gorgosaurus libratus,...,Belly River,NaN,NaN,sandstone,NaN,NaN,NaN,NaN,NaN,"""channel"""
1,139250,occ,23301.0,NaN,11893,Gorgosaurus libratus,species,53194,NaN,Gorgosaurus libratus,...,Belly River,NaN,NaN,sandstone,NaN,NaN,NaN,NaN,NaN,"""channel"""
2,139252,occ,23302.0,NaN,11895,Gorgosaurus libratus,species,53194,NaN,Gorgosaurus libratus,...,Belly River,NaN,"""sandstone, plant matter""",sandstone,NaN,carbonaceous,NaN,NaN,NaN,channel lag
3,139253,occ,18699.0,NaN,11896,Gorgosaurus libratus,species,53194,NaN,Gorgosaurus libratus,...,Belly River,NaN,NaN,not reported,NaN,NaN,NaN,NaN,NaN,terrestrial indet.
4,139254,occ,13634.0,NaN,11897,n. gen. Gorgosaurus n. sp. libratus,species,53194,NaN,Gorgosaurus libratus,...,Belly River,NaN,"""tough clayey sandstone""",sandstone,lithified,argillaceous,NaN,NaN,NaN,channel lag
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4795,1626150,occ,NaN,NaN,230164,Ankylosauridae indet.,family,38831,NaN,Ankylosauridae,...,NaN,Reynolds Point,NaN,not reported,NaN,NaN,NaN,NaN,NaN,fluvial indet.
4796,1626151,occ,NaN,NaN,230165,Ankylosauridae indet.,family,38831,NaN,Ankylosauridae,...,NaN,Reynolds Point,NaN,not reported,NaN,NaN,NaN,NaN,NaN,terrestrial indet.
4797,1626154,occ,NaN,NaN,230166,Ankylosauridae indet. A informal,family,38831,obsolete variant of,Ankylosauridae,...,NaN,Last Chance Creek,NaN,not reported,NaN,NaN,NaN,NaN,NaN,terrestrial indet.
4798,1626155,occ,NaN,NaN,97806,Ankylosauridae indet. B informal,family,38831,obsolete variant of,Ankylosauridae,...,NaN,NaN,"""silty mudstone""",mudstone,NaN,silty,NaN,NaN,NaN,terrestrial indet.
4799,1626277,occ,NaN,NaN,14455,Dromaeosauridae indet. B informal,family,38561,obsolete variant of,Dromaeosauridae,...,Matawan,NaN,"""normally not lithified... coarser sandy layer...",sandstone,unlithified,NaN,NaN,NaN,NaN,estuary/bay

In [17]:
value_counts = df['genus'].value_counts()
value_counts_df = pd.DataFrame(value_counts)
value_counts_updated_df = value_counts_df.drop(value_counts_df[value_counts_df.genus < 50].index)
value_counts_updated_df.head(11)
##print(len(value_counts_updated_df))

                   genus
Richardoestesia      145
Saurornitholestes    132
Grallator            132
Eubrontes            102
Phalacrocorax         94
Allosaurus            89
Troodon               86
Paronychodon          86
Tyrannosaurus         67
Anas                  64
Stegosaurus           53